@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

/*
.stat:before {
    content: '[';
}
.stat:after {
    content: ']';
}
.skill:before {
    content: '<';
}
.skill:after {
    content: '>';
}
.power:before {
    content: '«';
}
.power:after {
    content: '»';
}
.calc:before {
    content: '(';
}
.calc:after {
    content: ')';
}
*/

body .ui-dialog .charsheet {
    background: white;
    border: 10px solid transparent;
    border-image: url('https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/double-cross-dev/Double%20Cross/images/border_page.png')
        60 round;
}

body .charsheet * {
    font-family: 'Nanum Gothic', sans-serif;
}

.logo {
    position: relative;
    background: black;
    margin: 0 -17px;
}
.charsheet .logo h1 {
    background: url('https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/double-cross-dev/Double%20Cross/images/logo.png')
        left top / contain no-repeat content-box;
    display: block;
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    text-indent: -9999px;
}

.tabs {
    position: absolute;
    top: 40%;
    right: 11px;
}
.tabs button {
    background: black;
    border: none;
    border-radius: 10px;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
}
.tabs button:hover {
    background-color: red;
    color: black;
}

.charsheet .grid.tab-panel {
    display: none;
}
.charsheet .tabstoggle[value="csheet"] ~ .interface .grid.tab-panel.csheet,
.charsheet .tabstoggle[value="items"] ~ .interface .grid.tab-panel.items,
.charsheet .tabstoggle[value="powers"] ~ .interface .grid.tab-panel.powers,
.charsheet .tabstoggle[value="settings"] ~ .interface .grid.tab-panel.settings {
    display: grid;
}
.charsheet .tabstoggle[value="csheet"] ~ .interface .tab-csheet,
.charsheet .tabstoggle[value="items"] ~ .interface .tab-items,
.charsheet .tabstoggle[value="powers"] ~ .interface .tab-powers,
.charsheet .tabstoggle[value="settings"] ~ .interface .tab-settings {
    font-weight: bold;
    color: red;
}
.charsheet .tabstoggle[value="csheet"] ~ .interface .tab-csheet:hover,
.charsheet .tabstoggle[value="items"] ~ .interface .tab-items:hover,
.charsheet .tabstoggle[value="powers"] ~ .interface .tab-powers:hover,
.charsheet .tabstoggle[value="settings"] ~ .interface .tab-settings:hover {
    color: black;
}

h2 {
    background: black;
    padding: 5px 22px;
    margin: 10px -17px -5px;
    font-size: 14px;
    line-height: 14px;
    color: white;
    text-transform: uppercase;
}

h3 {
    padding: 10px 5px 0;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}

body .charsheet .grid label {
    background: white;
    font-weight: bold;
    font-size: 10px;
	display: inline-block;
	width: 100%;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    margin: 0;
    box-sizing: border-box;
    color: black;
    text-align: left;
    vertical-align: middle;
    overflow: hidden;
}
body .charsheet .grid label.stat {
    font-size: 14px;
    text-transform: uppercase;
}
body .charsheet .grid input,
body .charsheet .grid select {
    background: white;
    font-size: 15px;
	display: inline-block;
	width: 100%;
    height: 25px;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-bottom: solid 1px silver;
    color: black;
    line-height: 25px;
    text-align: left;
    vertical-align: middle;
    outline: none;
    overflow: hidden;
    z-index: 99;
}
body .charsheet .grid input.stat {
    background: silver;
    font-weight: bold;
}
.stats .col2 ~ .repcontainer .repitem input[type=text] {
    font-size: 10px;
}
body .charsheet .grid input,
body .charsheet .grid .input {
    padding: 0 5px;
}
body .charsheet .grid .input {
    background: white;
    font-size: 15px;
	width: 100%;
    height: 25px;
    box-sizing: border-box;
    color: black;
    line-height: 25px;
    text-align: left;
    vertical-align: middle;
    overflow: hidden;
    z-index: 99;
}
body .charsheet .grid input[type=number] {
    width: 100%;
    padding: 0 0 0 5px;
    text-align: right;
    z-index: 99;
}
body .charsheet .grid input[type=checkbox],
body .charsheet .grid input[type=radio] {
    margin-top: 5px;
    height: 15px;
    z-index: 99;
}
body .charsheet .grid .tab-panel .compact input,
body .charsheet .grid .tab-panel .compact .input,
body .charsheet .grid .tab-panel .compact select,
body .charsheet .grid .tab-panel .compact label {
    font-size: 10px;
    line-height: 20px;
    height: 20px;
}
body .charsheet .grid .tab-panel .compact input[type=checkbox],
body .charsheet .grid .tab-panel .compact input[type=radio] {
    height: 10px;
}
body .charsheet .grid .tab-panel .compact label {
    font-size: 8px;
}
body .charsheet .grid .tab-panel .highlight {
    background: silver;
    font-weight: bold;
}

.graph {
    background: url('https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/double-cross-dev/Double%20Cross/images/rate0.png')
        center / contain no-repeat content-box;
    grid-row: span 2;
    text-align: center;
}
.graph span {
    display: block;
    margin-top: 40px;
}
.encroachment-rate[value="1"] ~ .graph {
    background: url('https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/double-cross-dev/Double%20Cross/images/rate1.png')
        center / contain no-repeat content-box;
}
.encroachment-rate[value="2"] ~ .graph {
    background: url('https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/double-cross-dev/Double%20Cross/images/rate2.png')
        center / contain no-repeat content-box;
}
.encroachment-rate[value="3"] ~ .graph {
    background: url('https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/double-cross-dev/Double%20Cross/images/rate3.png')
        center / contain no-repeat content-box;
}
.encroachment-rate[value="4"] ~ .graph {
    background: url('https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/double-cross-dev/Double%20Cross/images/rate4.png')
        center / contain no-repeat content-box;
}
.encroachment-rate[value="5"] ~ .graph {
    background: url('https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/double-cross-dev/Double%20Cross/images/rate5.png')
        center / contain no-repeat content-box;
}
.encroachment-rate[value="6"] ~ .graph {
    background: url('https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/double-cross-dev/Double%20Cross/images/rate6.png')
        center / contain no-repeat content-box;
}
.encroachment-rate[value="7"] ~ .graph {
    background: url('https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/double-cross-dev/Double%20Cross/images/rate7.png')
        center / contain no-repeat content-box;
}
.encroachment-rate[value="8"] ~ .graph {
    background: url('https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/double-cross-dev/Double%20Cross/images/rate8.png')
        center / contain no-repeat content-box;
}

/* grid stuff */
.charsheet .grid,
.charsheet .grid ~ .repcontainer,
.charsheet .grid ~ .repcontainer .repitem,
.charsheet .hgrid {
    display: grid;
    margin: 0;
    padding: 0;
    grid-auto-rows: minmax(min-content, max-content);
    gap: 10px;
}
.charsheet .fit .grid,
.charsheet .fit .grid ~ .repcontainer,
.charsheet .fit .grid ~ .repcontainer .repitem,
.charsheet .fit .hgrid {
    width: fit-content;
}
.charsheet .nogap,
.charsheet .nogap ~ .repcontainer,
.charsheet .nogap ~ .repcontainer .repitem {
    column-gap: 3px;
    row-gap: 0;
}
.col2,
.col2 ~ .repcontainer .repitem {
    grid-template-columns: repeat(2, 1fr);
}
.col2-codename {
    grid-template-columns: 1fr 3fr;
}
.col2-cover {
    grid-template-columns: 3fr 1fr;
}
.stats > .col2,
.stats .col2 ~ .repcontainer .repitem {
    grid-template-columns: 4fr 1fr;
}
.repeating_lois ~ .repcontainer .repitem .col2 {
    grid-template-columns: 1fr 5fr;
}
.col3 {
    grid-template-columns: repeat(3, 1fr);
}
.col3.history {
    grid-template-columns: 6fr 3fr 1fr;
}
.powerlist .col3 {
    grid-template-columns: 1fr 15fr 2fr;
}
.col4 {
    grid-template-columns: repeat(4, 1fr);
}
.col4.history {
    grid-template-columns: 3fr 3fr 3fr 1fr;
}
.col4.powerlist {
    grid-template-columns: 6fr 1fr 6fr 1fr;
}
.col5,
.col5 ~ .repcontainer .repitem {
    grid-template-columns: repeat(5, 1fr);
}
.lois > .col7,
.lois .col7 ~ .repcontainer .repitem {
    grid-template-columns: 3fr 3fr 3fr 3fr 1fr 1fr 1fr;
}
.combos .col5 {
    grid-template-columns: 4fr 1fr 1fr 1fr 10fr;
}
.col2-codename .col6 {
    grid-template-columns: 1fr 2fr 2fr 1fr 1fr 1fr;
}
.col6.misc {
    grid-template-columns: 4fr 3fr 2fr 1fr 1fr 6fr;
}
.col8 {
    grid-template-columns: repeat(8, 1fr);
}
.col9.armor {
    grid-template-columns: 4fr 2fr 1fr 1fr 1fr 1fr 1fr 6fr 1fr;
}
.combos .col9 {
    grid-template-columns: 3fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
}
.col10.weapons {
    grid-template-columns: 4fr 3fr 1fr 1fr 1fr 2fr 1fr 1fr 5fr 1fr;
}
.col10.vehicles {
    grid-template-columns: 4fr 3fr 1fr 1fr 1fr 1fr 1fr 1fr 6fr 1fr;
}
.powerlist .col10 {
    grid-template-columns: 1fr 3fr 1fr 2fr 2fr 2fr 2fr 2fr 1fr 2fr;
}
.col12.derived {
    grid-template-columns: repeat(6, 3fr 1fr);
}

.slot1 {
    grid-column-start: 1;
}
.slot2 {
    grid-column-start: 2;
}
.slot3 {
    grid-column-start: 3;
}
.slot4 {
    grid-column-start: 4;
}
.slot5 {
    grid-column-start: 5;
}

.span2,
.span2 ~ .repcontainer,
.stats .col2 ~ .repcontainer ~ .repcontrol {
    grid-column: span 2;
}
.hgrid {
    grid-auto-flow: column;
    row-gap: 0;
    grid-template-rows: repeat(2, auto);
}

.charsheet .powers .repcontainer > .repitem {
    padding: 5px 0;
}

.powers .repcontainer > .repitem:nth-child(even),
.powers .repcontainer > .repitem:nth-child(even) label,
.powers .repcontainer > .repitem:nth-child(even) input,
.powers .repcontainer > .repitem:nth-child(even) select {
    background: #eee;
}

body .charsheet .grid .history-experience ~ select.history-student,
body .charsheet .grid .history-experience ~ select.history-adult,
body .charsheet .grid .history-experience ~ select.history-criminal,
body .charsheet .grid .history-experience ~ select.history-ugn {
    display: none;
}
body .charsheet .grid .history-experience[value="student"] ~ select.history-student,
body .charsheet .grid .history-experience[value="adult"] ~ select.history-adult,
body .charsheet .grid .history-experience[value="criminal"] ~ select.history-criminal,
body .charsheet .grid .history-experience[value="ugn"] ~ select.history-ugn {
    display: inline-block;
}

/* controls */
.itemcontrol {
    z-index: 999;
}

.stats .col2 ~ .repcontainer ~ .repcontrol {
    xopacity: 0;
    background-color: white;
    border-radius: 0 0 2px 2px;
}
.stats .col2 *:hover ~ .repcontrol,
.stats .col2 ~ .repcontainer ~ .repcontrol:hover {
    xopacity: 1.0;
}

.btn.repcontrol_add,
.btn.repcontrol_edit,
.btn.repcontrol_del,
.btn.repcontrol_move {
    position: relative;
    z-index: 99;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    border: solid 5px white;
    border-radius: 5px;
    box-shadow: none;
    box-sizing: border-box;
    text-indent: -9999px;
}
.btn.repcontrol_add:hover,
.btn.repcontrol_edit:hover,
.btn.repcontrol_del:hover,
.btn.repcontrol_move:hover {
    background-color: red;
    border: solid 5px red;
    background-position: center;
}
.btn.repcontrol_add:hover,
.btn.repcontrol_edit:hover {
    xfilter: invert(1);
}
.btn.repcontrol_add {
    background: white url('https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/double-cross-dev/Double%20Cross/images/add.png')
        center / contain no-repeat content-box;
}
.btn.repcontrol_edit {
    background: white url('https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/double-cross-dev/Double%20Cross/images/settings.png')
        center / contain no-repeat content-box;
}
.btn.repcontrol_del {
    background: white url('https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/double-cross-dev/Double%20Cross/images/delete.png')
        center / contain no-repeat content-box;
}
.btn.repcontrol_move {
    background: white url('https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/double-cross-dev/Double%20Cross/images/sort.png')
        center / contain no-repeat content-box;
}
