@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bangers&family=Lato:wght@900&display=swap');

body .charsheet * {
    font-family: 'Architects Daughter', cursive;
}

.charsheet h1,
.charsheet h2,
.charsheet label {
    background: black;
    margin: 0;
    padding: 0;
}
.charsheet h1 input {
    font-family: 'Bangers', cursive;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: left;
    color: white;
}
.charsheet h2 {
    height: 16px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: white;
}
.charsheet label {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: white;
}
.charsheet input,
.charsheet span.input {
    font-family: 'Lato', sans-serif;
    text-align: center;
}
.charsheet input {
	display: inline-block;
    background: none;
	width: 100%;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: black;
    line-height: 20px;
    outline: none;
    overflow: hidden;
}
body .charsheet .grid input[type=number] {
    width: 100%;
}

/* borders */
.charname {
  border: 10px solid transparent;
  border-image: url('https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/icons-dev/Icons%20Assembled/images/border.png') 10 round;
}

/* grid */
.grid {
    display: grid;
    width: 100%;
    gap: 0;
    box-sizing: border-box;
}
.grid.gap {
    gap: 10px;
}
.grid.col2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid.col3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid.charname {
    background: black;
    grid-template-columns: 3fr 1fr 1fr;
}

/* stats */
.statbox {
    background: white;
    margin-top: -20px;
    border: solid 1px black;
}
.statbox input,
.statbox span {
    font-size: 36px;
}
