/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");

body * {
    font-family: "Nanum Gothic", sans-serif;
}

/* cleanup number fields */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* toggles */
/* The switch - the box around the slider */
.ui-dialog .largedialog .charsheet label.switch,
.ui-dialog .charsheet .grid-hthstyle .grid2 .grid2 label.switch,
.ui-dialog .charsheet .grid-robotstyle .grid2 .grid2 label.switch {
    position: relative;
    width: 100%;
    max-height: 15px;
    min-height: auto;
    margin: auto;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    left: 0;
    bottom: 0;
    background-color: #f5f5f5;
    -webkit-transition: .4s;
    transition: .4s;
    box-sizing: border-box;
    border: solid 1px #ccc;
}

input:focus + .slider {
    box-shadow: 0 0 1px crimson;
}
input:checked + .slider {
    background-color: crimson;
}
input:checked + .slider:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
input:disabled + .slider {
    cursor: not-allowed;
    background-color: #ccc;
}

/* The lockbox - the box around the lock */
.ui-dialog .largedialog label.lockbox {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: auto;
}

/* Hide default HTML checkbox */
.lockbox input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The lock */
.lock {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.lock:before {
    position: absolute;
    font-family: "Pictos";
    content: ")";
    text-align: right;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    color: black;
    -webkit-transition: .4s;
    transition: .4s;
    box-sizing: border-box;
}

input:focus + .lock:before {
    color: crimson;
}
input:checked + .lock:before {
    content: "(";
}
input:disabled + .lock:before {
    cursor: not-allowed;
    color: #ccc;
}

.weapons-collapse[value="1"] ~ .grid .grid.weapons .grid-attack .switch + span,
.rpa-collapse[value="1"] ~ .grid .grid.rpa .grid-attack .switch + span {
    color: white;
}
.weapons-collapse[value="1"] ~ .grid .grid.weapons .repeating_weapon ~ .repcontainer .repitem > *:nth-child(14) .switch + span,
.rpa-collapse[value="1"] ~ .grid .grid.rpa .repeating_rpa ~ .repcontainer .page > *:nth-child(13) .switch + span {
    color: #f2f2f2;
}
.weapons-collapse[value="1"] ~ .grid .grid.weapons .grid-attack .switch + span:before,
.rpa-collapse[value="1"] ~ .grid .grid.rpa .grid-attack .switch + span:before {
    content: "N";
    color: black;
}
.weapons-collapse[value="1"] ~ .grid .grid.weapons .weapon-volley[value="1"] + input + input + .grid-attack .switch + span:before,
.weapons-collapse[value="1"] ~ .grid .grid.weapons .weapon-ps-bonus[value="1"] + input + .grid-attack .switch + span:before,
.rpa-collapse[value="1"] ~ .grid .grid.rpa .weapon-volley[value="1"] + input + input + .grid-attack .switch + span:before,
.rpa-collapse[value="1"] ~ .grid .grid.rpa .weapon-ps-bonus[value="1"] + input + .grid-attack .switch + span:before {
    content: "Y";
}

/*Configure the tab buttons*/
.charsheet .statcard,
.charsheet .basic,
.charsheet .equipment,
.charsheet .magic,
.charsheet .skills,
.charsheet .combat,
.charsheet .minions,
.charsheet .settings,
.charsheet .weapons,
.charsheet .armor,
.charsheet .rpa,
.charsheet .gear,
.charsheet .consumables,
.charsheet .wealth,
.charsheet .wp,
.charsheet .hth,
.charsheet .robot,
.charsheet .robot-basic,
.charsheet .robot-elite1,
.charsheet .saves,
.rpa .pages .page {
    display: none;
}

/* show the selected tab */
.charsheet .tabstoggle[value="statcard"] ~ .grid div.statcard,
.charsheet .tabstoggle[value="basic"] ~ .grid div.basic,
.charsheet .tabstoggle[value="equipment"] ~ .grid div.equipment,
.charsheet .tabstoggle[value="magic"] ~ .grid div.magic,
.charsheet .tabstoggle[value="skills"] ~ .grid div.skills,
.charsheet .tabstoggle[value="combat"] ~ .grid div.combat,
.charsheet .tabstoggle[value="minions"] ~ .grid div.minions,
.charsheet .tabstoggle[value="settings"] ~ .grid div.settings,
.charsheet .equiptoggle[value="weapons"] ~ .grid div.weapons,
.charsheet .equiptoggle[value="armor"] ~ .grid div.armor,
.charsheet .equiptoggle[value="rpa"] ~ .grid div.rpa,
.charsheet .equiptoggle[value="gear"] ~ .grid div.gear,
.charsheet .equiptoggle[value="consumables"] ~ .grid div.consumables,
.charsheet .equiptoggle[value="wealth"] ~ .grid div.wealth,
.charsheet .combattoggle[value="wp"] ~ .grid div.wp,
.charsheet .combattoggle[value="hth"] ~ .grid div.hth,
.charsheet .combattoggle[value="robot"] ~ .grid div.robot,
.charsheet .combattoggle[value="saves"] ~ .grid div.saves,
.charsheet .rctoggle[value="robot_basic"] ~ .grid div.robot-basic,
.charsheet .rctoggle[value="robot_elite1"] ~ .grid div.robot-elite1 {
    display: grid;
}
.rpa .rpa-wtoggle[value="rpaw1"] ~ .pages .page:nth-child(2),
.rpa .rpa-wtoggle[value="rpaw2"] ~ .pages .page:nth-child(3),
.rpa .rpa-wtoggle[value="rpaw3"] ~ .pages .page:nth-child(4),
.rpa .rpa-wtoggle[value="rpaw4"] ~ .pages .page:nth-child(5),
.rpa .rpa-wtoggle[value="rpaw5"] ~ .pages .page:nth-child(6),
.rpa .rpa-wtoggle[value="rpaw6"] ~ .pages .page:nth-child(7) {
    display: grid;
}

.charsheet .tabstoggle[value="statcard"] ~ .grid button[name="act_statcard"],
.charsheet .tabstoggle[value="basic"] ~ .grid button[name="act_basic"],
.charsheet .tabstoggle[value="equipment"] ~ .grid button[name="act_equipment"],
.charsheet .tabstoggle[value="magic"] ~ .grid button[name="act_magic"],
.charsheet .tabstoggle[value="skills"] ~ .grid button[name="act_skills"],
.charsheet .tabstoggle[value="combat"] ~ .grid button[name="act_combat"],
.charsheet .tabstoggle[value="minions"] ~ .grid button[name="act_minions"],
.charsheet .tabstoggle[value="settings"] ~ .grid button[name="act_settings"],
.charsheet .equiptoggle[value="weapons"] ~ .grid button[name="act_weapons"],
.charsheet .equiptoggle[value="armor"] ~ .grid button[name="act_armor"],
.charsheet .equiptoggle[value="rpa"] ~ .grid button[name="act_rpa"],
.charsheet .equiptoggle[value="gear"] ~ .grid button[name="act_gear"],
.charsheet .equiptoggle[value="consumables"] ~ .grid button[name="act_consumables"],
.charsheet .equiptoggle[value="wealth"] ~ .grid button[name="act_wealth"],
.charsheet .combattoggle[value="wp"] ~ .grid button[name="act_wp"],
.charsheet .combattoggle[value="hth"] ~ .grid button[name="act_hth"],
.charsheet .combattoggle[value="robot"] ~ .grid button[name="act_robot"],
.charsheet .combattoggle[value="saves"] ~ .grid button[name="act_saves"],
.charsheet .rctoggle[value="robot_basic"] ~ .grid button[name="act_robot_basic"],
.charsheet .rctoggle[value="robot_elite1"] ~ .grid button[name="act_robot_elite1"],
.rpa .rpa-wtoggle[value="rpaw1"] ~ .pages button[name="act_rpaw1"],
.rpa .rpa-wtoggle[value="rpaw2"] ~ .pages button[name="act_rpaw2"],
.rpa .rpa-wtoggle[value="rpaw3"] ~ .pages button[name="act_rpaw3"],
.rpa .rpa-wtoggle[value="rpaw4"] ~ .pages button[name="act_rpaw4"],
.rpa .rpa-wtoggle[value="rpaw5"] ~ .pages button[name="act_rpaw5"],
.rpa .rpa-wtoggle[value="rpaw6"] ~ .pages button[name="act_rpaw6"] {
    background: white;
    color: black;
}

.hidden {
    display: none;
}
button[type="action"].btn {
    padding: 2px 3px;
    font-size: 1.3em;
    margin: 0px 3px 0px 3px;
}
button[type="action"].btn:before {
    font-family: "dicefontd20";
    content: "t";
}

.tabs {
    display: flex;
    gap: 0.2em;
}
.tabs button {
    border: solid 1px black;
    border-bottom: none;
    background: black;
    color: white;
    text-transform: uppercase;
}
.tabs button.glyph {
    font-family: "Pictos";
    text-transform: none;
}
h2, h3, h4, h5, h6 {
    margin: auto 0;
    line-height: 26px;
    min-height: 26px;
}
h2 {
    text-transform: uppercase;
    font-weight: normal;
    padding: 0.5em 0;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
h3,
.hth h4,
.robot h4 {
    text-transform: uppercase;
    margin-top: 1.0em;
    font-weight: normal;
}
.hth .grid > h4:first-child,
.robot .grid > h4:first-child,
.robotskill-name h4 {
    margin-top: 0;
}

.note {
    border: dashed slategray 0.1em;
    padding: 0.5em;
    margin-left: 5.0em;
    color: slategray;
    background: #f2f2f2;
    position: relative;
    font-size: 0.8em;
}
.note:before {
    position: absolute;
    left: -1.5em;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    font-size: 3.0em;
    font-family: "Pictos";
    content: "!";
}

.flex {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}
.flex.lane {
    flex-wrap: nowrap;
}
.flex.lane > * {
    flex-grow: 1;
    width: min-content;
}
.grid,
.repcontainer {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    gap: 0.5em;
}
.repcontainer {
    gap: 0;
}
.grid.shrink {
    width: fit-content;
    gap: 0;
}
.grid.gap,
.grid.shrink.gap,
.repeating_movement + .repcontainer {
    gap: 0.5em;
}
.slot1 {
    grid-column: 1;
}
.slot2 {
    grid-column: 2;
}
.slot3 {
    grid-column: 3;
}
.slot4 {
    grid-column: 4;
}
.span2 {
    grid-column: span 2;
}
.span3 {
    grid-column: span 3;
}
.span4 {
    grid-column: span 4;
}
.span5 {
    grid-column: span 5;
}
.rowspan2 {
    grid-row: span 2;
}
.rowspan3 {
    grid-row: span 3;
}
.notes {
    grid-column: span 2;
}
textarea.notes,
.ui-dialog .charsheet span.notes {
    grid-row: span 3;
    margin: 0;
    max-height: 9.0em;
    overflow-y: auto;
}
.grid-weapon .damage {
    grid-column: span 3;
}
.slot2.span2 {
    grid-column: 2 / span 2;
}
.slot2.span3 {
    grid-column: 2 / span 3;
}
.grid2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid2.frontload {
    grid-template-columns: 3fr 1fr;
}
h2.grid2,
h3.grid2,
h4.grid2 {
    grid-template-columns: 7fr 1fr;
}
.grid2.toggle {
    grid-template-columns: 1fr 5fr;
}
.hth-collapse[value="1"] ~ .grid .hth .grid2.toggle,
.robot-collapse[value="1"] ~ .grid .robot .grid2.toggle {
    grid-template-columns: repeat(1, 1fr);
}
.grid3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid4 {
    grid-template-columns: repeat(4, 1fr);
}
.grid5 {
    grid-template-columns: repeat(5, 1fr);
}
.grid6 {
    grid-template-columns: repeat(6, 1fr);
}
.grid7 {
    grid-template-columns: repeat(7, 1fr);
}
.grid8 {
    grid-template-columns: repeat(8, 1fr);
}
.grid-basic {
    grid-template-columns: 3fr 5fr 2fr;
    gap: 0;
}
.grid-basic > .grid:nth-child(1) {
    padding-right: 1.0em;
}
.grid-basic > .grid:nth-child(2) {
    padding: 0 1.0em;
    border-right: solid 1px silver;
    border-left: solid 1px silver;
}
.grid-basic > .grid:nth-child(3) {
    padding-left: 1.0em;
}
.grid-basic > .grid:nth-child(4) {
    padding: 1.0em 0 0 1.0em;
}
.ui-dialog .charsheet h3 select {
    width: auto;
}
.grid-stats {
    grid-template-columns: 1fr 1fr 1fr 6fr;
}
.grid-stats p {
    font-size: 0.75em;
    text-transform: uppercase;
    line-height: 1.0em;
    margin: auto 0;
}
.grid-header {
    grid-template-columns: 70px 1fr;
    background: slategray url("https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/palladium-rifts-ultimate/Palladium%20Rifts%20Ultimate/rifts.png")
        right / contain no-repeat border-box;
    position: relative;
}
.icondefault {
    background: url("https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/palladium-rifts-ultimate/Palladium%20Rifts%20Ultimate/logo.png")
        center / contain no-repeat border-box;
    height: 70px;
    width: 70px;
}
.display-token[value="0"] ~ .grid .grid-header .icon,
.display-token[value="1"] ~ .grid .grid-header .icondefault {
    display: none;
}
h1.grid-header {
    text-transform: uppercase;
    color: white;
    font-size: 1.8em;
    font-weight: normal;
}
h1.grid-header .grid.shrink {
    margin-top: 0.2em;
}
.ui-dialog .charsheet h1.grid-header .sub {
    margin-bottom: -0.5em;
}
.ui-dialog .charsheet h1 .sub,
.ui-dialog .charsheet h2 .sub {
    font-size: 0.5em;
}
.grid-header .tabs {
    position: absolute;
    bottom: 0;
    font-size: 13px;
}
.grid-movement {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-magicstats {
    grid-template-columns: 3fr 5fr 4fr 2fr 3fr 5fr 3fr 5fr;
}
.basic-collapse[value="0"] ~ .grid .grid.basic .locked,
.basic-collapse[value="1"] ~ .grid .grid.basic .unlocked,
.skills-collapse[value="0"] ~ .grid .grid.skills .locked,
.skills-collapse[value="1"] ~ .grid .grid.skills .unlocked,
.hth-collapse[value="0"] ~ .grid .grid.hth .locked,
.hth-collapse[value="1"] ~ .grid .grid.hth .unlocked,
.hth-collapse[value="1"] ~ .grid .grid.hth .strike-acquired[value="0"] + div,
.hth-collapse[value="1"] ~ .grid .grid.hth .strike-acquired[value="0"] + div + div,
.robot-collapse[value="0"] ~ .grid .grid.robot .locked,
.robot-collapse[value="1"] ~ .grid .grid.robot .unlocked,
.robot-collapse[value="1"] ~ .grid .grid.robot .strike-acquired[value="0"] + div,
.robot-collapse[value="1"] ~ .grid .grid.robot .strike-acquired[value="0"] + div + div,
.saves-collapse[value="0"] ~ .grid .grid.saves .locked,
.saves-collapse[value="1"] ~ .grid .grid.saves .unlocked,
.wpancient-collapse[value="0"] ~ .grid .grid-wp .locked,
.wpancient-collapse[value="1"] ~ .grid .grid-wp .unlocked,
.wpmodern-collapse[value="0"] ~ .grid .grid-wpm .locked,
.wpmodern-collapse[value="1"] ~ .grid .grid-wpm .unlocked,
.magic-collapse[value="0"] ~ .grid .grid.magic .locked,
.magic-collapse[value="1"] ~ .grid .grid.magic .unlocked,
.weapons-collapse[value="0"] ~ .grid .grid.weapons .locked,
.weapons-collapse[value="1"] ~ .grid .grid.weapons .unlocked,
.armor-collapse[value="0"] ~ .grid .grid.armor .locked,
.armor-collapse[value="1"] ~ .grid .grid.armor .unlocked,
.rpa-collapse[value="0"] ~ .grid .grid.rpa .locked,
.rpa-collapse[value="1"] ~ .grid .grid.rpa .unlocked {
    display: none;
}
.hth-collapse[value="1"] ~ .grid .grid-hthstyle > .grid2 > .grid3,
.robot-collapse[value="1"] ~ .grid .grid-robotstyle > .grid2 > .grid3 {
    grid-template-columns: repeat(2, 1fr);
}
.grid-magic {
    grid-template-columns: 7fr 2fr 7fr 3fr 7fr 2fr 2fr 1fr;
}
.scroller > .grid-magic > *:nth-child(6) {
    text-align: center;
}
.grid-magic > *:nth-child(n+8):nth-child(-n+9) {
    text-align: right;
}
.magic-collapse[value="1"] ~ .grid .ability-skill[value=""] ~ .grid-magic .skill,
.magic-collapse[value="1"] ~ .grid .ability-strike[value=""] ~ .grid-magic .strike,
.magic-collapse[value="1"] ~ .grid .ability-damage[value=""] ~ .grid-magic .damage {
    visibility: hidden;
}
.weapons-collapse[value="1"] ~ .grid .grid.weapons .weapon-damage[value=""] + .grid-attack {
    display: none;
}
.repeating_weapon ~ .repcontainer .repitem {
    display: grid;
    gap: 0.5em;
}
.repeating_weapon ~ .repcontainer .repitem > *:nth-child(14),
.repeating_rpa ~ .repcontainer .page > *:nth-child(13) {
    background: #f2f2f2;
}
.grid.skills .repitem,
.grid-hthstyle .repitem,
.grid-robotstyle .repitem,
.grid.magic .repitem {
    padding: 0.5em 0;
    border-bottom: solid 1px silver;
}
.grid.magic details {
    position: relative;
}
.grid.magic details summary:before {
    font-family: "Pictos";
    content: "+";
}
.grid.magic details[open] summary:before {
    content: "-";
}
.grid.magic summary {
    position: absolute;
    right: 0;
    top: -1.8em;
    font-size: 1.0em;
}
.grid.magic summary:hover {
    color: crimson;
}
.grid.magic details > .grid {
    margin-top: 0.5em;
}
.grid.magic details textarea {
    height: 10.0em;
}
.itemcontrol {
    z-index: 100;
}
.grid-skills {
    grid-template-columns: 8fr 4fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
}
.grid-hthstyle,
.grid-robotstyle {
    grid-template-columns: repeat(2, 1fr);
}
.grid-hthstyle > div,
.grid-robotstyle > div {
    padding: 1.0em;
}
.grid-hthstyle > div:nth-child(2),
.grid-robotstyle > div:nth-child(2) {
    border: solid 1px black;
}
.grid-wp {
    grid-template-columns: 5fr 3fr 3fr 3fr 3fr 3fr 2fr 2fr 2fr 1fr;
    gap: 0;
}
.grid-wpm {
    grid-template-columns: 5fr 2fr 2fr 2fr 1fr 1fr;
    gap: 0;
}
.ui-dialog .charsheet .grid-wp:first-child > *,
.ui-dialog .charsheet .grid-wpm:first-child > * {
    padding: 0 0.5em;
}
.ui-dialog .charsheet .grid-wp > *,
.ui-dialog .charsheet .grid-wpm > * {
    padding: 0.5em;
}
.grid-wp .grid,
.grid-wpm .grid {
    border-right: solid 1px silver;
}
.grid-wp .disabled,
.grid-wpm .disabled {
    text-align: center;
    color: silver;
}
.grid-weapon {
    grid-template-columns: 5fr 6fr 2fr 2fr 2fr;
}
.weapon-template[value="ancient"] ~ .grid-weapon {
    grid-template-columns: 5fr 6fr 3fr 3fr;
}
.grid-attack {
    grid-template-columns: 1fr 5fr 1fr 3fr;
}
.grid-armor {
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
}
.armor .repitem .grid-armor:nth-child(2) {
    grid-template-columns: 7fr 3fr 3fr 3fr 5fr 1fr;
}
.grid-rpa {
    grid-template-columns: 4fr 4fr 4fr 4fr 1fr;
}
.rpa .sticker {
    grid-template-columns: 2.0em 10fr;
    border-top: solid 1px silver;
    padding-top: 0.5em;
}
.rpa .sticker h4 {
    writing-mode: vertical-rl;
    white-space: nowrap;
    text-transform: uppercase;
}
.rpa .sticker:nth-child(2) .grid-rpa {
    grid-template-columns: repeat(7, 1fr);
}
.rpa .sticker:nth-child(3) .grid-rpa {
    grid-template-columns: repeat(4, 1fr);
}
.saves .grid2 {
    gap: 5.0em;
}
.grid-saves {
    grid-template-columns: 7fr 1fr 1fr 1fr;
}
.grid-movement span,
.grid-movement input[type=number],
.grid-skills span,
.grid-skills input[type=number],
.grid-hthstyle span,
.grid-hthstyle input[type=number],
.grid-robotstyle span,
.grid-robotstyle input[type=number],
.grid-wp span,
.grid-wp input[type=number],
.grid-wpm span,
.grid-wpm input[type=number],
.grid-saves span,
.grid-saves input[type=number],
.grid-weapon span,
.grid-weapon input[type=number] {
    xtext-align: center;
}
.hth-autododge[value="0"] ~ .grid .hthc .autododge,
.rb-autododge[value="0"] ~ .grid .rb .autododge,
.re1-autododge[value="0"] ~ .grid .re1 .autododge,
.rb-acquired[value="0"] ~ .grid .robot .rb > *:not(:first-child),
.rb-acquired[value="0"] ~ .grid .robot .rb .robotskill-name ~ * {
    display: none;
}
.weapon-template[value="modern"] ~ .grid .ancient,
.weapon-template[value="ancient"] ~ .grid .modern,
.weapon-template[value="modern"] ~ .flex .ancient,
.weapon-template[value="ancient"] ~ .flex .modern {
    display: none;
}
.weapon-template[value="ancient"] ~ .grid .grid.ancient,
.weapon-template[value="modern"] ~ .grid .grid.modern,
.weapon-template[value="ancient"] ~ .flex .grid.ancient,
.weapon-template[value="modern"] ~ .flex .grid.modern {
    display: grid;
}
.scroller .grid-movement:first-child,
.scroller .grid-skills:first-child,
.scroller .grid-wp:first-child,
.scroller .grid-wpm:first-child,
.scroller .grid-magic:first-child {
    top: 0;
    position: sticky;
    z-index: 100;
    background: white;
    border-bottom: solid 1px black;
}
.scroller .grid-magic:first-child button[type="action"] {
    padding: 0;
    margin: 0;
    background: white;
    border: none;
    font-size: 1.0em;
    line-height: 1.6em;
    font-size: 0.7em;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
.scroller > .grid-magic button[type="action"]:nth-child(1) {
    text-align: left;
}
.grid.weapons .repcontainer .repitem,
.grid.armor .repcontainer .repitem,
.grid.rpa .repcontainer .repitem {
    padding: 1.0em;
}
.grid.weapons .repcontainer .repitem:first-child,
.grid.armor .repcontainer .repitem:first-child,
.grid.rpa .repcontainer .repitem:first-child {
    padding-top: 0;
}
.grid.weapons .repcontainer .repitem:nth-child(even),
.grid.armor .repcontainer .repitem:nth-child(even),
.grid.rpa .repcontainer .repitem:nth-child(even) {
    border: solid 1px black;
}
.weapon-template[value="ancient"] ~ .flex .weapon-ps-bonus[value="1"] + input + div .wops,
.weapon-template[value="ancient"] ~ .flex .weapon-ps-bonus[value="0"] + input + div .wps,
.weapon-template[value="ancient"] ~ .flex .wv,
.weapon-template[value="modern"] ~ .flex .wps,
.weapon-template[value="modern"] ~ .flex .weapon-volley[value="1"] + input + input + div .wov,
.weapon-template[value="modern"] ~ .flex .weapon-volley[value="0"] + input + input + div .wv,
.weapon-template[value="ancient"] ~ .weapon-ps-bonus[value="1"] + input + .grid .wops,
.weapon-template[value="ancient"] ~ .weapon-ps-bonus[value="0"] + input + .grid .wps,
.weapon-template[value="ancient"] ~ .grid .wv,
.weapon-template[value="modern"] ~ .grid .wps,
.weapon-template[value="modern"] ~ .weapon-volley[value="1"] + input + input + .grid .wov,
.weapon-template[value="modern"] ~ .weapon-volley[value="0"] + input + input + .grid .wv {
    display: none;
}
.weapon-template[value="ancient"] ~ .weapon-ps-bonus[value="0"] ~ .flex .wops,
.weapon-template[value="ancient"] ~ .weapon-ps-bonus[value="1"] ~ .flex .wps,
.weapon-template[value="ancient"] ~ .weapon-ps-bonus[value="0"] + input + .grid .wops,
.weapon-template[value="ancient"] ~ .weapon-ps-bonus[value="1"] + input + .grid .wps {
    display: block;
}
.wpancient-collapse[value="1"] ~ .grid .grid-wp .active[value="0"] + h4,
.wpancient-collapse[value="1"] ~ .grid .grid-wp .active[value="0"] + h4 + div,
.wpancient-collapse[value="1"] ~ .grid .grid-wp .active[value="0"] + h4 + div + div,
.wpancient-collapse[value="1"] ~ .grid .grid-wp .active[value="0"] + h4 + div + div + div,
.wpancient-collapse[value="1"] ~ .grid .grid-wp .active[value="0"] + h4 + div + div + div + div,
.wpancient-collapse[value="1"] ~ .grid .grid-wp .active[value="0"] + h4 + div + div + div + div + div,
.wpancient-collapse[value="1"] ~ .grid .grid-wp .active[value="0"] + h4 + div + div + div + div + div + div,
.wpancient-collapse[value="1"] ~ .grid .grid-wp .active[value="0"] + h4 + div + div + div + div + div + div + span,
.wpancient-collapse[value="1"] ~ .grid .grid-wp .active[value="0"] + h4 + div + div + div + div + div + div + span + span,
.wpancient-collapse[value="1"] ~ .grid .grid-wp .active[value="0"] + h4 + div + div + div + div + div + div + span + span + span,
.wpmodern-collapse[value="1"] ~ .grid .grid-wpm .active[value="0"] + h4,
.wpmodern-collapse[value="1"] ~ .grid .grid-wpm .active[value="0"] + h4 + div,
.wpmodern-collapse[value="1"] ~ .grid .grid-wpm .active[value="0"] + h4 + div + div,
.wpmodern-collapse[value="1"] ~ .grid .grid-wpm .active[value="0"] + h4 + div + div + div,
.wpmodern-collapse[value="1"] ~ .grid .grid-wpm .active[value="0"] + h4 + div + div + div + span,
.wpmodern-collapse[value="1"] ~ .grid .grid-wpm .active[value="0"] + h4 + div + div + div + span + span {
    display: none;
}
.grid-armor textarea,
.grid-armor textarea + span.locked {
    grid-column: span 2;
    grid-row: span 2;
    margin: 0;
    height: 4.5em;
    overflow-y: scroll;
}

.charsheet .normal,
.charsheet .augmented,
.charsheet .robot,
.charsheet .supernatural {
    display: none;
}
.charsheet .pstype[value="Normal"] ~ .grid .normal,
.charsheet .pstype[value="Augmented"] ~ .grid .augmented,
.charsheet .pstype[value="Robot"] ~ .grid .robot,
.charsheet .pstype[value="Supernatural"] ~ .grid .supernatural {
    display: block;
}
.charsheet .pstype[value="Normal"] ~ .grid .grid.normal,
.charsheet .pstype[value="Augmented"] ~ .grid .grid.augmented,
.charsheet .pstype[value="Robot"] ~ .grid .grid.robot,
.charsheet .pstype[value="Supernatural"] ~ .grid .grid.supernatural {
    display: grid;
}
.charsheet .ppemax[value=""] ~ .grid .ppe,
.charsheet .ispmax[value=""] ~ .grid .isp,
.charsheet .arval[value=""] ~ .grid .ar,
.charsheet .hfval[value=""] ~ .grid .hf,
.charsheet .sdc,
.charsheet .mdc {
    display: none;
}
.charsheet .dctype[value="S.D.C."] ~ .grid .sdc,
.charsheet .dctype[value="M.D.C."] ~ .grid .mdc {
    display: grid;
}

.ui-dialog .charsheet button[type=roll].d100:before {
    font-family: "dicefontd10";
    content: "t";
}
.ui-dialog .charsheet button[type=roll].dmg:before {
    font-family: "Pictos Custom";
    content: "t";
}

.ui-dialog .charsheet input,
.ui-dialog .charsheet select,
.ui-dialog .charsheet textarea,
.ui-dialog .charsheet input[type=number] {
    box-sizing: border-box;
    width: 100%;
    height: 2.0em;
    margin: 0;
    padding: 0;
}
.ui-dialog .charsheet input:focus,
.ui-dialog .charsheet textarea:focus,
.ui-dialog .charsheet select:focus {
    border-color: crimson;
}
.ui-dialog .charsheet input[type="text"],
.ui-dialog .charsheet input[type="number"],
.ui-dialog .charsheet textarea,
.ui-dialog .charsheet select {
    outline: none;
}
.ui-dialog .charsheet textarea {
    height: 100%;
}
.ui-dialog .charsheet label,
.ui-dialog .charsheet .grid-hthstyle .grid2 .grid2 label,
.ui-dialog .charsheet .grid-robotstyle .grid2 .grid2 label {
    padding: 0;
    margin: auto 0;
    min-height: 26px;
    line-height: 26px;
    font-size: 0.7em;
    text-transform: uppercase;
}
input.lbl,
select.lbl {
    border: none;
}
.ui-dialog .charsheet span {
    padding: 0;
    margin: auto 0;
    line-height: 1.5em;
    font-size: 1.0em;
}
.ui-dialog .charsheet .grid2 > label,
.ui-dialog .charsheet .grid-hthstyle .grid2.toggle > label,
.ui-dialog .charsheet .grid-robotstyle .grid2.toggle > label,
.ui-dialog .charsheet .grid-stats > label,
.ui-dialog .charsheet .grid-hthstyle > label,
.ui-dialog .charsheet .grid-robotstyle > label,
.ui-dialog .charsheet .grid-magicstats label {
    font-size: 1.0em;
    text-transform: none;
}
.ps-restrained[value="none"] ~ .grid .restrained,
.hth-dc[value="S.D.C."] ~ .dc-md,
.hth-dc[value="M.D."] ~ .dc-sdc,
.robot-dc[value="S.D.C."] ~ .dc-md,
.robot-dc[value="M.D."] ~ .dc-sdc {
    display: none;
}
.ui-dialog .charsheet label input[type=number] {
    height: 1.0em;
}
.ui-dialog .charsheet input[type=number].inner {
    width: 2.5em;
}

footer {
    margin-top: 2.0em;
}
footer * {
    font-size: 0.8em;
    color: silver;
    margin: 0;
    padding: 0;
}


/* statcard */
.statcard,
.ui-dialog .charsheet .statcard .repeating_rpa + .repcontainer .repitem {
    display: grid;
    grid-template-columns: 2.0em 10fr;
    gap: 0;
}
.statcard {
    margin-bottom: 1.0em;
}

.statcard h4 {
    writing-mode: vertical-rl;
    white-space: nowrap;
    text-transform: uppercase;
    height: 100%;
    margin-bottom: 0.5em;
    padding-right: 0.5em;
    box-sizing: border-box;
}

.statcard > *:not(.statcard-rpa),
.ui-dialog .charsheet .statcard .repeating_rpa + .repcontainer .repitem > * {
    padding: 0.5em 0 0.5em 0;
    border-bottom: solid 1px silver;
}
.statcard > *:nth-child(n+1):nth-child(-n+2) {
    padding-top: 0;
}
.statcard h2.grid3 {
    grid-template-columns: 70px 1fr;
    background: slategray url("https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/palladium-rifts-ultimate/Palladium%20Rifts%20Ultimate/rifts.png")
        right / contain no-repeat border-box;
    border: none;
    padding: 0;
}
.statcard h2.grid3 span {
    color: white;
}
.statcard strong {
    margin: auto 0;
}
.display-token[value="0"] ~ .grid .statcard .icon,
.display-token[value="1"] ~ .grid .statcard .icondefault {
    display: none;
}
.ui-dialog .charsheet .statcard button[type="roll"],
.ui-dialog .charsheet .statcard button[type="action"],
.ui-dialog .charsheet .grid-magic button[type="action"] {
    background: none;
    border: none;
    font-size: 1.0em;
    margin: auto 0;
    padding: 0;
    text-align: left;
    line-height: 1.5em;
    text-shadow: none;
    box-shadow: none;
    width: fit-content;
}
.ui-dialog .charsheet .statcard button[type="roll"]:before,
.ui-dialog .charsheet .statcard button[type="action"]:before,
.ui-dialog .charsheet .grid-magic button[type="action"]:before {
    content: "";
    display: none;
}
.ui-dialog .charsheet .statcard button[type="roll"]:hover,
.ui-dialog .charsheet .statcard button[type="action"]:hover,
.ui-dialog .charsheet .grid-magic button[type="action"]:hover {
    text-decoration: underline;
}
.ui-dialog .charsheet .statcard .repitem {
    display: flex;
    gap: 0.5em;
}
.statcard .repeating_armor + .repcontainer,
.statcard .repeating_consumable + .repcontainer {
    display: flex;
    gap: 0.5em;
}
.statcard .repeating_armor + .repcontainer .armor-active[value="0"] ~ .grid {
    display: none;
}
.statcard fieldset + .repcontainer .grid-dcstats,
.statcard .repeating_consumable + .repcontainer .grid-counter {
    grid-template-columns: 1fr 2fr;
}
.statcard .repeating_maneuvers + .repcontainer,
.statcard .repeating_robotbasic + .repcontainer,
.statcard .repeating_robotelite1 + .repcontainer,
.statcard .repeating_weapon + .repcontainer {
    gap: 0.5em;
}
.statcard .repeating_maneuvers + .repcontainer,
.statcard .repeating_robotbasic + .repcontainer,
.statcard .repeating_robotelite1 + .repcontainer,
.statcard .repeating_movement + .repcontainer {
    display: flex;
    flex-wrap: wrap;
}
.statcard .repeating_skills + .repcontainer,
.statcard .repeating_ability + .repcontainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
}
.statcard .flex.bullets > div:before,
.statcard .repeating_maneuvers + .repcontainer .repitem:before,
.statcard .repeating_robotbasic + .repcontainer .repitem:before,
.statcard .repeating_robotelite1 + .repcontainer .repitem:before {
    content: "t";
    font-family: "Pictos Custom";
}
.flex.bullets {
    border: none;
}
.statcard .repeating_movement + .repcontainer .repitem:not(:last-child):after {
    content: ",";
    margin-left: -0.4em;
}
.statcard .repcontrol {
    display: none;
}
.ps-restrained[value="none"] ~ .grid .statcard .restrained,
.statcard .strike-acquired[value="0"] + div {
    display: none;
}
.statcard .weapon-template[value="modern"] ~ .flex .ancient,
.statcard .weapon-template[value="ancient"] ~ .flex .modern {
    display: none;
}
.statcard .weapon-template[value="ancient"] ~ .flex .ancient,
.statcard .weapon-template[value="modern"] ~ .flex .modern {
    display: inline;
}
.statcard .weapon-template[value="ancient"] ~ .weapon-ps-bonus[value="1"] ~ .flex .wops,
.statcard .weapon-template[value="ancient"] ~ .weapon-ps-bonus[value="0"] ~ .flex .wps,
.statcard .weapon-template[value="modern"] ~ .flex .wps {
    display: none;
}
.statcard .weapon-template[value="ancient"] ~ .weapon-ps-bonus[value="0"] ~ .flex .wops,
.statcard .weapon-template[value="ancient"] ~ .weapon-ps-bonus[value="1"] ~ .flex .wps {
    display: block;
}
.ui-dialog .charsheet .statcard .ability-skill[value=""] ~ .skill,
.ui-dialog .charsheet .statcard .ability-strike[value=""] ~ .strike,
.ui-dialog .charsheet .statcard .ability-damage[value=""] ~ .damage,
.ui-dialog .charsheet .statcard .weapon-template ~ .flex .weapon-damage[value=""] + div,
.ui-dialog .charsheet .statcard .weapon-name[value="Weapon"] ~ .flex,
.ui-dialog .charsheet .statcard .weapon-name[value=""] ~ .flex {
    display: none;
}
.ui-dialog .charsheet .statcard .weapon-range[value=""] ~ .flex .range:before {
    content: 'no range';
}

.armor-count[value="0"] ~ .grid .statcard .repeating-armor,
.armor-count[value="0"] ~ .grid .statcard .repeating-armor + .repeating_armor + .repcontainer,
.weapon-count[value="0"] ~ .grid .statcard .repeating-weapon,
.weapon-count[value="0"] ~ .grid .statcard .repeating-weapon + .repeating_weapon + .repcontainer,
.rb-acquired[value="0"] ~ .grid .statcard .rb,
.re1name[value=""] ~ .grid .statcard .re1,
.skills-count[value="0"] ~ .grid .statcard .repeating-skills,
.skills-count[value="0"] ~ .grid .statcard .repeating-skills + .repeating_skills + .repcontainer,
.ability-count[value="0"] ~ .grid .statcard .repeating-ability,
.ability-count[value="0"] ~ .grid .statcard .repeating-ability + .repeating_ability + .repcontainer,
.consumable-count[value="0"] ~ .grid .statcard .repeating-consumable,
.consumable-count[value="0"] ~ .grid .statcard .repeating-consumable + .repeating_consumable + .repcontainer,
.statcard .rpa-active[value="0"] ~ *,
.statcard .skill-base[value=""] ~ button,
.statcard .skill-base:not([value=""]) ~ span {
    display: none;
}

/* roll templates */

.sheet-rolltemplate-d20 .sheet-template-body,
.sheet-rolltemplate-d100 .sheet-template-body,
.sheet-rolltemplate-damage .sheet-template-body,
.sheet-rolltemplate-message .sheet-template-body {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    gap: 0;
    grid-template-columns: 2fr 3fr 2fr;
    background: black;
}
.sheet-rolltemplate-message .sheet-template-body {
    grid-template-columns: 2fr 5fr;
}
.sheet-rolltemplate-d20 .sheet-template-body *,
.sheet-rolltemplate-d100 .sheet-template-body *,
.sheet-rolltemplate-damage .sheet-template-body *,
.sheet-rolltemplate-message .sheet-template-body * {
    font-family: "Nanum Gothic", sans-serif;
}

.sheet-rolltemplate-d20 .sheet-template-body > div.sheet-icondefault,
.sheet-rolltemplate-d100 .sheet-template-body > div.sheet-icondefault,
.sheet-rolltemplate-damage .sheet-template-body > div.sheet-icondefault,
.sheet-rolltemplate-message .sheet-template-body > div.sheet-icondefault {
    background: url("https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/palladium-rifts-ultimate/Palladium%20Rifts%20Ultimate/logo.png")
        center / contain no-repeat border-box;
    height: 100%;
    max-width: 100%;
    padding: 0;
}
.sheet-rolltemplate-d20 .sheet-template-body > div,
.sheet-rolltemplate-d20 .sheet-template-body > a,
.sheet-rolltemplate-d100 .sheet-template-body > div,
.sheet-rolltemplate-d100 .sheet-template-body > a,
.sheet-rolltemplate-damage .sheet-template-body > div,
.sheet-rolltemplate-damage .sheet-template-body > a,
.sheet-rolltemplate-message .sheet-template-body > div,
.sheet-rolltemplate-message .sheet-template-body > a {
    padding: 0.2em;
}
.sheet-rolltemplate-d20 .sheet-template-body > div,
.sheet-rolltemplate-d100 .sheet-template-body > div,
.sheet-rolltemplate-damage .sheet-template-body > div,
.sheet-rolltemplate-message .sheet-template-body > div {
    margin: 0.5em;
}
.sheet-rolltemplate-d20 .sheet-template-body > a,
.sheet-rolltemplate-d100 .sheet-template-body > a,
.sheet-rolltemplate-damage .sheet-template-body > a,
.sheet-rolltemplate-message .sheet-template-body > a {
    margin: auto;
}
.sheet-rolltemplate-d20 .sheet-template-body .sheet-template-results,
.sheet-rolltemplate-d100 .sheet-template-body .sheet-template-results,
.sheet-rolltemplate-damage .sheet-template-body .sheet-template-results,
.sheet-rolltemplate-message .sheet-template-body .sheet-template-results {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    gap: 0.2em;
    background: white;
    margin: 0;
}
.sheet-rolltemplate-d20 .sheet-template-results span,
.sheet-rolltemplate-d100 .sheet-template-results span,
.sheet-rolltemplate-damage .sheet-template-results span,
.sheet-rolltemplate-message .sheet-template-results span,
.sheet-rolltemplate-d20 .sheet-template-results a,
.sheet-rolltemplate-d100 .sheet-template-results a,
.sheet-rolltemplate-damage .sheet-template-results a,
.sheet-rolltemplate-message .sheet-template-results a {
    display: block;
    line-height: 1.0em;
    text-align: center;
}
.sheet-rolltemplate-d20 .sheet-template-results .sheet-template-d20 {
    font-family: dicefontd20;
    font-size: 2.0em;
}
.sheet-rolltemplate-d100 .sheet-template-results .sheet-template-d100 {
    font-family: dicefontd10;
    font-size: 2.0em;
}
.sheet-rolltemplate-d20 .sheet-template-body .inlinerollresult,
.sheet-rolltemplate-d100 .sheet-template-body .inlinerollresult,
.sheet-rolltemplate-damage .sheet-template-body .inlinerollresult,
.sheet-rolltemplate-message .sheet-template-body .inlinerollresult {
    padding: 0;
    background: none;
    font-size: 3.0em;
    border: none;
}
.sheet-rolltemplate-d20 .sheet-template-body .inlinerollresult,
.sheet-rolltemplate-d100 .sheet-template-body .inlinerollresult,
.sheet-rolltemplate-damage .sheet-template-body .inlinerollresult,
.sheet-rolltemplate-message .sheet-template-body .inlinerollresult {
    font-size: 2.0em;
}
.sheet-rolltemplate-d20 .sheet-template-body p > .inlinerollresult {
    font-size: 1.0em;
    font-weight: normal;
}
.sheet-rolltemplate-d20 .sheet-template-results .sheet-template-feedback,
.sheet-rolltemplate-d100 .sheet-template-results .sheet-template-feedback,
.sheet-rolltemplate-damage .sheet-template-results .sheet-template-feedback,
.sheet-rolltemplate-message .sheet-template-results .sheet-template-feedback {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: bold;
}
.sheet-rolltemplate-damage .sheet-template-results .sheet-template-type {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
}
.sheet-rolltemplate-d20 .sheet-template-results a[href^="~"],
.sheet-rolltemplate-d100 .sheet-template-results a[href^="~"],
.sheet-rolltemplate-damage .sheet-template-results a[href^="~"],
.sheet-rolltemplate-message .sheet-template-results a[href^="~"] {
    border: solid 1px black;
    background: white;
    color: black;
    text-transform: uppercase;
    font-size: 0.7em;
    width: fit-content;
    margin: auto;
}

.sheet-rolltemplate-d20 .sheet-template-crit ~ .sheet-template-body,
.sheet-rolltemplate-d100 .sheet-template-success,
.sheet-rolltemplate-damage .sheet-template-body .sheet-template-results {
    background: crimson;
}
.sheet-rolltemplate-d20 .sheet-template-crit ~ .sheet-template-body {
    background: crimson url("https://raw.githubusercontent.com/coyotegrey/roll20-character-sheets/palladium-rifts-ultimate/Palladium%20Rifts%20Ultimate/crit.png")
        left top / auto repeat-y;
}
.sheet-rolltemplate-d100 .sheet-template-fail {
    background: slategray;
}
.sheet-rolltemplate-d20 .sheet-template-crit ~ .sheet-template-body .sheet-template-results,
.sheet-rolltemplate-d100 .sheet-template-success .sheet-template-results,
.sheet-rolltemplate-d100 .sheet-template-fail .sheet-template-results {
    background: black;
}
.sheet-rolltemplate-d20 .sheet-template-body *,
.sheet-rolltemplate-d100 .sheet-template-body *,
.sheet-rolltemplate-message .sheet-template-body * {
    color: white;
}
.sheet-rolltemplate-d20 .sheet-template-crit ~ .sheet-template-body *,
.sheet-rolltemplate-d100 .sheet-template-success *,
.sheet-rolltemplate-d100 .sheet-template-fail *,
.sheet-rolltemplate-d20 .sheet-template-body .sheet-template-results *,
.sheet-rolltemplate-d100 .sheet-template-body .sheet-template-results *,
.sheet-rolltemplate-damage .sheet-template-body .sheet-template-results * {
    color: black;
}
.sheet-rolltemplate-d20 .sheet-template-crit ~ .sheet-template-body .sheet-template-results *,
.sheet-rolltemplate-damage .sheet-template-body *,
.sheet-rolltemplate-d100 .sheet-template-success .sheet-template-results * {
    color: crimson;
}
.sheet-rolltemplate-d100 .sheet-template-fail .sheet-template-results * {
    color: slategray;
}
.sheet-rolltemplate-d20 .sheet-template-crit ~ .sheet-template-body .sheet-template-results a[href^="~"] {
    border: solid 1px crimson;
    background: black;
    color: crimson;
}
.sheet-rolltemplate-d100 .sheet-template-fail .sheet-template-results a[href^="~"] {
    border: solid 1px slategray;
    background: black;
    color: slategray;
}
.sheet-rolltemplate-d100 .sheet-template-success .sheet-template-results a[href^="~"] {
    border: solid 1px crimson;
    background: black;
    color: crimson;
}
.sheet-rolltemplate-damage .sheet-template-results a[href^="~"] {
    background: crimson;
}

.sheet-rolltemplate-d20 .sheet-template-body dl,
.sheet-rolltemplate-d100 .sheet-template-body dl,
.sheet-rolltemplate-damage .sheet-template-body dl {
    grid-column: span 3;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    gap: 0;
    grid-template-columns: 5fr 2fr;
    background: slategray;
    margin: 0;
}
.sheet-rolltemplate-d20 .sheet-template-body dl *,
.sheet-rolltemplate-d100 .sheet-template-body dl *,
.sheet-rolltemplate-damage .sheet-template-body dl *,
.sheet-rolltemplate-d20 .sheet-template-body dl .inlinerollresult,
.sheet-rolltemplate-d100 .sheet-template-body dl .inlinerollresult,
.sheet-rolltemplate-damage .sheet-template-body dl .inlinerollresult {
    font-size: 0.8em;
    line-height: 1.0em;
    font-weight: normal;
    padding: 0.4em 0.7em;
    color: black;
}
.sheet-rolltemplate-d20 .sheet-template-body dl .inlinerollresult,
.sheet-rolltemplate-d100 .sheet-template-body dl .inlinerollresult,
.sheet-rolltemplate-damage .sheet-template-body dl .inlinerollresult {
    font-size: 1.0em;
    padding: 0;
    margin: 0;
}
.sheet-rolltemplate-d20 .sheet-template-body dd,
.sheet-rolltemplate-d100 .sheet-template-body dd,
.sheet-rolltemplate-damage .sheet-template-body dd {
    text-align: center;
}
.sheet-rolltemplate-d20 .sheet-template-per4 ~ .sheet-template-body dl *:nth-child(1),
.sheet-rolltemplate-d20 .sheet-template-per4 ~ .sheet-template-body dl *:nth-child(2),
.sheet-rolltemplate-d20 .sheet-template-per8 ~ .sheet-template-body dl *:nth-child(3),
.sheet-rolltemplate-d20 .sheet-template-per8 ~ .sheet-template-body dl *:nth-child(4),
.sheet-rolltemplate-d20 .sheet-template-per14 ~ .sheet-template-body dl *:nth-child(5),
.sheet-rolltemplate-d20 .sheet-template-per14 ~ .sheet-template-body dl *:nth-child(6),
.sheet-rolltemplate-d20 .sheet-template-per15 ~ .sheet-template-body dl *:nth-child(7),
.sheet-rolltemplate-d20 .sheet-template-per15 ~ .sheet-template-body dl *:nth-child(8),
.sheet-rolltemplate-d20 .sheet-template-per17 ~ .sheet-template-body dl *:nth-child(9),
.sheet-rolltemplate-d20 .sheet-template-per17 ~ .sheet-template-body dl *:nth-child(10),
.sheet-rolltemplate-d20 .sheet-template-per19 ~ .sheet-template-body dl *:nth-child(11),
.sheet-rolltemplate-d20 .sheet-template-per19 ~ .sheet-template-body dl *:nth-child(12),
.sheet-rolltemplate-d100 .sheet-template-coma18 ~ .sheet-template-body dl *:nth-child(1),
.sheet-rolltemplate-d100 .sheet-template-coma18 ~ .sheet-template-body dl *:nth-child(2),
.sheet-rolltemplate-d100 .sheet-template-coma32 ~ .sheet-template-body dl *:nth-child(3),
.sheet-rolltemplate-d100 .sheet-template-coma32 ~ .sheet-template-body dl *:nth-child(4),
.sheet-rolltemplate-d100 .sheet-template-coma46 ~ .sheet-template-body dl *:nth-child(5),
.sheet-rolltemplate-d100 .sheet-template-coma46 ~ .sheet-template-body dl *:nth-child(6),
.sheet-rolltemplate-d100 .sheet-template-coma56 ~ .sheet-template-body dl *:nth-child(7),
.sheet-rolltemplate-d100 .sheet-template-coma56 ~ .sheet-template-body dl *:nth-child(8),
.sheet-rolltemplate-d100 .sheet-template-coma66 ~ .sheet-template-body dl *:nth-child(9),
.sheet-rolltemplate-d100 .sheet-template-coma66 ~ .sheet-template-body dl *:nth-child(10),
.sheet-rolltemplate-d100 .sheet-template-coma70 ~ .sheet-template-body dl *:nth-child(11),
.sheet-rolltemplate-d100 .sheet-template-coma70 ~ .sheet-template-body dl *:nth-child(12) {
    background: crimson;
}
